@font-face {
  font-family: 'Satoshi';
  src: url('/path-to-fonts/Satoshi.woff2') format('woff2'),
       url('/path-to-fonts/Satoshi.woff') format('woff');
}

#root {
  max-width: none;
  margin: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 639px) {
  :root {
    /* animation */
    --animation-titleStartX: 46.875rem;
    --animation-navStartY: -4.375rem;
    --animation-scrollEnd: 1000;
    --animation-overlapEnd: 1500;
    --animation-scrubScale: 10;
    --animation-wordStart: 100;

    --animation-teamEnterXPercent: 12;
    --animation-teamEnterDuration: 1.2;
    --animation-teamStaggerEach: 0.22;
    --animation-teamStaggerAmount: 0.9;

    /* layout */
    --layout-titleFontSize: 4.5rem;
    --layout-mediumLargeFontSize: 3.5rem;
    --layout-mediumFontSize: 2.5rem;
    --layout-subtitleFontSize: 1.35rem;
    --layout-footerFontSize: 0.8125rem;
    --layout-teamFontSize: 0.9375rem;
    --layout-aboutTitleFontSize: 2.5rem;
    --layout-bodyFontSize: 1.2rem;
    --layout-textHeaderFontSize: 1.25rem;

    --layout-paddingSmall: 0.625rem;
    --layout-paddingBody: 3.125rem;
    --layout-paddingLarge: 4.125rem;

    --layout-fullHeight: 100dvh;
    --layout-doubleFullHeight: 200dvh;
    --layout-aboutHeight: 190dvh;
    --layout-teamHeight: 380dvh;

    --layout-textBoxMargin: 500px;

    --layout-marginSmallLeft: 2dvw;
    --layout-marginSmallTop: 20dvh;
    --layout-marginSmallBottom: 2dvh;

    --layout-marginExtraSmallLeft: 5dvh;
    --layout-marginExtraSmallRight: 5dvh;
    --layout-marginExtraSmallTop: 5dvh;
    --layout-marginExtraSmallBottom: 5dvh;

    --layout-paddingLeft: 0.625rem;
    --layout-paddingRight: 0.625rem;
    --layout-paddingTop: 0.625rem;
    --layout-paddingBottom: 0.625rem;

    --layout-paddingTransitionLeft: 5rem;
    --layout-paddingTransitionRight: 5rem;
    --layout-paddingTransitionTop: 5rem;
    --layout-paddingTransitionBottom: 5rem;

    --layout-aboutFullWidth: 100dvw;
    --layout-aboutGap: 10vw;
    --layout-aboutContentPaddingTop: 2dvh;
    --layout-aboutBottomPadding: 10dvh;
    --layout-aboutContainerFlex: none;
    --layout-aboutTitleTextAlign: left;
    --layout-aboutTitleJustifyContent: left;

    --layout-teamFullWidth: 100%;
    --layout-teamImagesFlexDirection: row;
    --layout-teamImageWidth: 25dvw;
    --layout-teamImageHeight: auto;

    --layout-footerContactTranslateY: 0;
    --layout-footerLinkMargin: 5dvw;
    --layout-footerLinkGap: 5dvw;
    --layout-footerSocialGap: 5dvw;
    --layout-footerSocialIconScale: 1.5;
    --layout-footerFlexDirection: column;
    --layout-footerLinksFlexDirection: column;
    --layout-footerContainerGap: 8dvh;
    --layout-footerContactUsFontSize: 3rem;
    --layout-footerLinkLayoutDisplay: grid;
    --layout-footerLinkLayoutGridTemplateCols: repeat(2, minmax(0, 1fr));
    --layout-footerLinkLayoutJustifyContent: none;

    --layout-marginBottomXXs: 2dvh;

    --layout-textBoxWidth: 100%;
    --layout-textBoxGap: 5dvh;
    --layout-textBoxLineHeight: 1;
    --layout-textBoxTitleContentGap: 20px;

    --layout-imageVisibility: visible;

    --layout-aboutTitleWrap: wrap;
    --layout-aboutFlexDirection: column;



  }
}

/* ========== Small ≥640px ========== */
@media (min-width: 640px) {
  :root {
    /* animation */
    --animation-titleStartX: 46.875rem;
    --animation-navStartY: -4.375rem;
    --animation-scrollEnd: 1000;
    --animation-overlapEnd: 1500;
    --animation-scrubScale: 10;
    --animation-wordStart: 100;

    --animation-teamEnterXPercent: 12;
    --animation-teamEnterDuration: 1.2;
    --animation-teamStaggerEach: 0.22;
    --animation-teamStaggerAmount: 0.9;

    /* layout */
    --layout-titleFontSize: 6.5rem;
    --layout-mediumFontSize: 4.5rem;
    --layout-subtitleFontSize: 2rem;
    --layout-footerFontSize: 0.8125rem;
    --layout-teamFontSize: 0.9375rem;
    --layout-aboutTitleFontSize: 4.5rem;
    --layout-bodyFontSize: 1.5rem;
    --layout-textHeaderFontSize: 1.25rem;

    --layout-paddingSmall: 0.625rem;
    --layout-paddingBody: 3.125rem;

    --layout-fullHeight: 100dvh;
    --layout-doubleFullHeight: 200dvh;
    --layout-teamHeight: 380dvh;

    --layout-textBoxMargin: 500px;

    --layout-marginSmallLeft: 2dvw;
    --layout-marginSmallTop: 20dvh;
    --layout-marginSmallBottom: 2dvh;

    --layout-marginExtraSmallLeft: 5dvh;
    --layout-marginExtraSmallRight: 5dvh;
    --layout-marginExtraSmallTop: 5dvh;
    --layout-marginExtraSmallBottom: 5dvh;

    --layout-paddingLeft: 0.625rem;
    --layout-paddingRight: 0.625rem;
    --layout-paddingTop: 0.625rem;
    --layout-paddingBottom: 0.625rem;

    --layout-paddingTransitionLeft: 5rem;
    --layout-paddingTransitionRight: 5rem;
    --layout-paddingTransitionTop: 5rem;
    --layout-paddingTransitionBottom: 5rem;

    --layout-aboutFullWidth: 100dvw;
    --layout-aboutGap: 10vw;
    --layout-aboutContentPaddingTop: 2dvh;
    --layout-aboutBottomPadding: 10dvh;
    --layout-aboutContainerFlex: none;
    --layout-aboutTitleTextAlign: left;
    --layout-aboutTitleJustifyContent: left;

    --layout-teamFullWidth: 100%;
    --layout-teamImagesFlexDirection: row;
    --layout-teamImageWidth: 25dvw;
    --layout-teamImageHeight: auto;

    --layout-footerContactTranslateY: 0;
    --layout-footerLinkMargin: 5dvw;
    --layout-footerLinkGap: 5dvw;
    --layout-footerSocialGap: 5dvw;
    --layout-footerSocialIconScale: 1.5;
    --layout-footerFlexDirection: column;
    --layout-footerLinksFlexDirection: column;
    --layout-footerContainerGap: 10dvh;
    --layout-footerContactUsFontSize: 3.5rem;
    --layout-footerLinkLayoutDisplay: grid;
    --layout-footerLinkLayoutGridTemplateCols: repeat(4, minmax(0, 1fr));
    --layout-footerLinkLayoutJustifyContent: none;

    --layout-marginBottomXXs: 2dvh;

    --layout-textBoxWidth: 100%;
    --layout-textBoxGap: 5dvh;
    --layout-textBoxLineHeight: 1;
    --layout-textBoxTitleContentGap: 20px;

    --layout-imageVisibility: visible;

    --layout-aboutTitleWrap: wrap;
    --layout-aboutFlexDirection: column;



  }
}

/* ========== Medium ≥900px ========== */
@media (min-width: 900px) {
  :root {
    /* animation */
    --animation-titleStartX: 46.875rem;
    --animation-navStartY: -4.375rem;
    --animation-scrollEnd: 1000;
    --animation-overlapEnd: 1500;
    --animation-scrubScale: 10;
    --animation-wordStart: 100;

    --animation-teamEnterXPercent: 12;
    --animation-teamEnterDuration: 1.2;
    --animation-teamStaggerEach: 0.22;
    --animation-teamStaggerAmount: 0.9;

    /* layout */
    --layout-titleFontSize: 9.5rem;
    --layout-mediumFontSize: 5.5rem;
    --layout-subtitleFontSize: 2.65rem;
    --layout-footerFontSize: 1.2rem;
    --layout-teamFontSize: 0.9375rem;
    --layout-aboutTitleFontSize: 4.5rem;
    --layout-bodyFontSize: 1.8rem;
    --layout-textHeaderFontSize: 1.25rem;

    --layout-paddingSmall: 0.625rem;
    --layout-paddingBody: 3.125rem;

    --layout-fullHeight: 100dvh;
    --layout-doubleFullHeight: 200dvh;
    --layout-teamHeight: 380dvh;

    --layout-textBoxMargin: 500px;

    --layout-marginSmallLeft: 2dvw;
    --layout-marginSmallTop: 20dvh;
    --layout-marginSmallBottom: 2dvh;

    --layout-marginExtraSmallLeft: 5dvh;
    --layout-marginExtraSmallRight: 5dvh;
    --layout-marginExtraSmallTop: 5dvh;
    --layout-marginExtraSmallBottom: 5dvh;

    --layout-paddingLeft: 0.625rem;
    --layout-paddingRight: 0.625rem;
    --layout-paddingTop: 0.625rem;
    --layout-paddingBottom: 0.625rem;

    --layout-paddingTransitionLeft: 5rem;
    --layout-paddingTransitionRight: 5rem;
    --layout-paddingTransitionTop: 5rem;
    --layout-paddingTransitionBottom: 5rem;

    --layout-aboutFullWidth: 100dvw;
    --layout-aboutGap: 10vw;
    --layout-aboutContentPaddingTop: 2dvh;
    --layout-aboutBottomPadding: 10dvh;
    --layout-aboutContainerFlex: none;
    --layout-aboutTitleTextAlign: left;
    --layout-aboutTitleJustifyContent: left;

    --layout-teamFullWidth: 100%;
    --layout-teamImagesFlexDirection: row;
    --layout-teamImageWidth: 25dvw;
    --layout-teamImageHeight: auto;

    --layout-footerContactTranslateY: 0;
    --layout-footerLinkMargin: 5dvw;
    --layout-footerLinkGap: 5dvw;
    --layout-footerSocialGap: 10dvw;
    --layout-footerSocialIconScale: 2.5;
    --layout-footerFlexDirection: column;
    --layout-footerLinksFlexDirection: column;
    --layout-footerContainerGap: 6dvh;
    --layout-footerContactUsFontSize: 3.5rem;
    --layout-footerLinkLayoutDisplay: grid;
    --layout-footerLinkLayoutGridTemplateCols: repeat(4, minmax(0, 1fr));
    --layout-footerLinkLayoutJustifyContent: none;

    --layout-marginBottomXXs: 2dvh;

    --layout-textBoxWidth: 100%;
    --layout-textBoxGap: 5dvh;
    --layout-textBoxLineHeight: 1;
    --layout-textBoxTitleContentGap: 20px;

    --layout-imageVisibility: visible;

    --layout-aboutTitleWrap: wrap;
    --layout-aboutFlexDirection: column;

  }
}

/* ========== Large ≥1024px ========== */
@media (min-width: 1024px) {
  :root {
    /* animation */
    --animation-titleStartX: 46.875rem;
    --animation-navStartY: -4.375rem;
    --animation-scrollEnd: 1000;
    --animation-overlapEnd: 1500;
    --animation-scrubScale: 10;
    --animation-wordStart: 100;

    --animation-teamEnterXPercent: 12;
    --animation-teamEnterDuration: 1.2;
    --animation-teamStaggerEach: 0.22;
    --animation-teamStaggerAmount: 0.9;

    /* layout */
    --layout-titleFontSize: 12.5rem;
    --layout-mediumLargerFontSize: 11.5rem;
    --layout-mediumLargeFontSize: 7.5rem;
    --layout-mediumFontSize: 3.5rem;
    --layout-subtitleFontSize: 3.125rem;
    --layout-aboutTitleFontSize: 500%;
    --layout-footerFontSize: 1.2rem;
    --layout-teamFontSize: 0.9375rem;
    --layout-buttonFontSize: 1.8rem;
    --layout-subheaderFontSize: 6.5rem;
    --layout-bodyFontSize: 2.6rem;
    --layout-textHeaderFontSize: 1.25rem;

    --layout-paddingSmall: 0.625rem;
    --layout-paddingExtraSmall: 0.325rem;
    --layout-paddingMedium: 2.5rem;
    --layout-paddingBody: 3.125rem;
    --layout-paddingPeopleText1: 25.125rem;
    --layout-paddingLarge: 4.125rem;


    --layout-aboutHeight: 130dvh;
    --layout-teamHeight: 500dvh;

    --layout-textBoxMargin: 500px;

    --layout-marginSmallLeft: 2dvw;
    --layout-marginSmallRight: 2dvw;
    --layout-marginSmallTop: 20dvh;
    --layout-marginSmallBottom: 2dvh;

    --layout-marginExtraSmallLeft: 5dvh;
    --layout-marginExtraSmallRight: 5dvh;
    --layout-marginExtraSmallTop: 5dvh;
    --layout-marginExtraSmallBottom: 5dvh;

    --layout-paddingLeft: 0.625rem;
    --layout-paddingRight: 0.625rem;
    --layout-paddingTop: 0.625rem;
    --layout-paddingBottom: 0.625rem;
    

    --layout-paddingTransitionLeft: 5rem;
    --layout-paddingTransitionRight: 5rem;
    --layout-paddingTransitionTop: 5rem;
    --layout-paddingTransitionBottom: 5rem;

    --layout-updSummaryMaxWidth: 40%;
    --layout-updSummaryImageMarginTop: 14%;
    --layout-updSummaryImageWidth: 90vw;
    --layout-updSummaryPaddingBottom: 30vh;

    --layout-updProblemWidth: 50vw;
    --layout-updProblemPaddingLeft: 35vw;
    --layout-updProblemPaddingBottom: 10vh;

    --layout-updBodyTextContainerWidth: 60vw;
    --layout-updBodyGap: 100vh;
    --layout-updBodyPaddingBottom: 30vh;

    --layout-updButtonWidth: 20vw;
    --layout-updButtonHeight: 10vh;

    --layout-updPeoplePaddingBottom: 10vh;

     /* Avatar 1 */
    --layout-updAvatar1-top: 15vh;
    --layout-updAvatar1-left: 5vw;
    --layout-updAvatar1-w: 20vw;
    --layout-updAvatar1-h: 20vw;

    /* Avatar 2 */
    --layout-updAvatar2-top: 70vh;
    --layout-updAvatar2-left: 45vw;
    --layout-updAvatar2-w: 15vw;
    --layout-updAvatar2-h: 15vw;

    /* Avatar 3 */
    --layout-updAvatar3-top: 25vh;
    --layout-updAvatar3-left: 75vw;
    --layout-updAvatar3-w: 10vw;
    --layout-updAvatar3-h: 10vw;

    /* Avatar 4 */
    --layout-updAvatar4-top: 10vh;
    --layout-updAvatar4-left: 13vw;
    --layout-updAvatar4-w: 20vw;
    --layout-updAvatar4-h: 20vw;

    /* Avatar 5 */
    --layout-updAvatar5-top: 60vh;
    --layout-updAvatar5-left: 10vw;
    --layout-updAvatar5-w: 15vw;
    --layout-updAvatar5-h: 15vw;

    /* Avatar 6 */
    --layout-updAvatar6-top: 68vh;
    --layout-updAvatar6-left: 60vw;
    --layout-updAvatar6-w: 15vw;
    --layout-updAvatar6-h: 15vw;

    /* Avatar 7 */
    --layout-updAvatar7-top: 30vh;
    --layout-updAvatar7-left: 75vw;
    --layout-updAvatar7-w: 15vw;
    --layout-updAvatar7-h: 15vw;

    --layout-updTeamBoxWidth: 87vw;

    --layout-teamImageMaxWidth: 25dvw;
    --layout-aboutFullWidth: 100dvw;
    --layout-aboutTitleWidth: 50dvw;
    --layout-aboutGap: 5vw;
    --layout-aboutBottomPadding: 15%;
    --layout-aboutContainerFlex: 1 1 0%;
    --layout-aboutTitleTextAlign: center;
    --layout-aboutTitleJustifyContent: center;

    --layout-aboutContentPaddingTop: 2dvh;

    --layout-teamImageMaxWidth: 25dvw;
    --layout-teamFullWidth: 100dvw;
    --layout-teamImagesFlexDirection: row;
    --layout-teamImageWidth: 25vw;
    --layout-teamImageHeight: auto;

    --layout-footerContactTranslateY: -6dvh;
    --layout-footerLinkMargin: 5dvw;
    --layout-footerLinkGap: 8dvw;
    --layout-footerSocialGap: 4dvw;
    --layout-footerSocialIconScale: 3;
    --layout-footerFlexDirection: row;
    --layout-footerLinksFlexDirection: row;
    --layout-footerContainerGap: 0;
    --layout-footerContactUsFontSize: 3.25rem;
    --layout-footerLinkLayoutDisplay: flex;
    --layout-footerGridTemplateCols: none;
    --layout-footerLinkLayoutJustifyContent: space-between;

    --layout-condensed-line-height: 1.3;

    --layout-marginBottomXXs: 2dvh;

    --layout-textBoxWidth: 100%;
    --layout-textBoxGap: 5dvh;
    
    --layout-imageVisibility: visible;

    --layout-aboutTitleWrap: nowrap;
    --layout-aboutFlexDirection: row

  }
}

/* ========== Large ≥1200px ========== */
@media (min-width: 1200px) {
  :root {
    /* animation */
    --animation-titleStartX: 46.875rem;
    --animation-navStartY: -4.375rem;
    --animation-scrollEnd: 1000;
    --animation-overlapEnd: 1500;
    --animation-scrubScale: 10;
    --animation-wordStart: 100;

    --animation-teamEnterXPercent: 12;
    --animation-teamEnterDuration: 1.2;
    --animation-teamStaggerEach: 0.22;
    --animation-teamStaggerAmount: 0.9;

    /* layout */
    --layout-titleFontSize: 12.5rem;
    --layout-mediumLargerFontSize: 11.5rem;
    --layout-mediumLargeFontSize: 7.5rem;
    --layout-mediumFontSize: 3.5rem;
    --layout-subtitleFontSize: 3.125rem;
    --layout-aboutTitleFontSize: 500%;
    --layout-footerFontSize: 1.2rem;
    --layout-teamFontSize: 0.9375rem;
    --layout-buttonFontSize: 1.8rem;
    --layout-subheaderFontSize: 6.5rem;
    --layout-bodyFontSize: 2.6rem;
    --layout-textHeaderFontSize: 1.25rem;

    --layout-paddingSmall: 0.625rem;
    --layout-paddingExtraSmall: 0.325rem;
    --layout-paddingMedium: 2.5rem;
    --layout-paddingBody: 3.125rem;
    --layout-paddingLarge: 9.125rem;
    --layout-paddingPeopleText1: 25.125rem;

    --layout-aboutHeight: 130dvh;
    --layout-teamHeight: 500dvh;

    --layout-textBoxMargin: 500px;

    --layout-marginSmallLeft: 2dvw;
    --layout-marginSmallRight: 2dvw;
    --layout-marginSmallTop: 20dvh;
    --layout-marginSmallBottom: 2dvh;

    --layout-marginExtraSmallLeft: 5dvh;
    --layout-marginExtraSmallRight: 5dvh;
    --layout-marginExtraSmallTop: 5dvh;
    --layout-marginExtraSmallBottom: 5dvh;

    --layout-paddingLeft: 0.625rem;
    --layout-paddingRight: 0.625rem;
    --layout-paddingTop: 0.625rem;
    --layout-paddingBottom: 0.625rem;

    --layout-paddingTransitionLeft: 5rem;
    --layout-paddingTransitionRight: 5rem;
    --layout-paddingTransitionTop: 5rem;
    --layout-paddingTransitionBottom: 5rem;

    --layout-updSummaryMaxWidth: 40%;
    --layout-updSummaryImageMarginTop: 14%;
    --layout-updSummaryImageWidth: 90vw;
    --layout-updSummaryPaddingBottom: 30vh;

    --layout-updProblemWidth: 50vw;
    --layout-updProblemPaddingLeft: 35vw;
    --layout-updProblemPaddingBottom: 10vh;

    --layout-updBodyTextContainerWidth: 60vw;
    --layout-updBodyGap: 8vh;

    --layout-updButtonWidth: 20vw;
    --layout-updButtonHeight: 10vh;

    --layout-updPeoplePaddingBottom: 10vh;

     /* Avatar 1 */
    --layout-updAvatar1-top: 15vh;
    --layout-updAvatar1-left: 5vw;
    --layout-updAvatar1-w: 20vw;
    --layout-updAvatar1-h: 20vw;

    /* Avatar 2 */
    --layout-updAvatar2-top: 70vh;
    --layout-updAvatar2-left: 45vw;
    --layout-updAvatar2-w: 15vw;
    --layout-updAvatar2-h: 15vw;

    /* Avatar 3 */
    --layout-updAvatar3-top: 25vh;
    --layout-updAvatar3-left: 75vw;
    --layout-updAvatar3-w: 10vw;
    --layout-updAvatar3-h: 10vw;

    /* Avatar 4 */
    --layout-updAvatar4-top: 10vh;
    --layout-updAvatar4-left: 13vw;
    --layout-updAvatar4-w: 20vw;
    --layout-updAvatar4-h: 20vw;

    /* Avatar 5 */
    --layout-updAvatar5-top: 60vh;
    --layout-updAvatar5-left: 10vw;
    --layout-updAvatar5-w: 15vw;
    --layout-updAvatar5-h: 15vw;

    /* Avatar 6 */
    --layout-updAvatar6-top: 68vh;
    --layout-updAvatar6-left: 60vw;
    --layout-updAvatar6-w: 15vw;
    --layout-updAvatar6-h: 15vw;

    /* Avatar 7 */
    --layout-updAvatar7-top: 30vh;
    --layout-updAvatar7-left: 75vw;
    --layout-updAvatar7-w: 15vw;
    --layout-updAvatar7-h: 15vw;

    --layout-teamImageMaxWidth: 25dvw;
    --layout-aboutFullWidth: 100dvw;
    --layout-aboutTitleWidth: 50dvw;
    --layout-aboutGap: 5vw;
    --layout-aboutBottomPadding: 15%;
    --layout-aboutContainerFlex: 1 1 0%;
    --layout-aboutTitleTextAlign: center;
    --layout-aboutTitleJustifyContent: center;

    --layout-aboutContentPaddingTop: 2dvh;

    --layout-teamImageMaxWidth: 25dvw;
    --layout-teamFullWidth: 100dvw;
    --layout-teamImagesFlexDirection: row;
    --layout-teamImageWidth: 25vw;
    --layout-teamImageHeight: auto;

    --layout-footerContactTranslateY: -6dvh;
    --layout-footerLinkMargin: 5dvw;
    --layout-footerLinkGap: 8dvw;
    --layout-footerSocialGap: 4dvw;
    --layout-footerSocialIconScale: 3;
    --layout-footerFlexDirection: row;
    --layout-footerLinksFlexDirection: row;
    --layout-footerContainerGap: 0;
    --layout-footerContactUsFontSize: 3.25rem;
    --layout-footerLinkLayoutDisplay: flex;
    --layout-footerGridTemplateCols: none;
    --layout-footerLinkLayoutJustifyContent: space-between;

    --layout-condensed-line-height: 1.3;

    --layout-marginBottomXXs: 2dvh;

    --layout-textBoxWidth: 100%;
    --layout-textBoxGap: 5dvh;
    
    --layout-imageVisibility: visible;

    --layout-aboutTitleWrap: nowrap;
    --layout-aboutFlexDirection: row

  }
}


/* header stuff */

.title-header {
  font-size: var(--layout-headerTitleFontSize);
}

/* subtitle stuff */

.subtitle-header {
  font-size: var(--layout-subtitleFontSize);
}

/* transition stuff */

.transition-text {
  font-size: var(--layout-titleFontSize);
}

.transition-title-box {
  padding: var(--layout-paddingBody)
}

/* UpdSummary stuff */

.upd-summary-container {
  padding: var(--layout-paddingMedium)
}

.upd-summary-text {
  font-size: var(--layout-mediumFontSize);
}

.upd-summary-text-box {
  max-width: var(--layout-updSummaryMaxWidth);
  line-height: var(--layout-condensed-line-height);
}

.upd-summary-image-container {
  margin-top: var(--layout-updSummaryImageMarginTop);
}

.upd-summary-image {
  width: var(--layout-updSummaryImageWidth);
  padding-bottom: var(--layout-updSummaryPaddingBottom);
}

/* UpdProblem stuff */

.upd-problem-text-box {
  margin: var(--layout-paddingMedium);
  max-width: var(--layout-updSummaryMaxWidth);
  line-height: var(--layout-condensed-line-height);
}

.upd-problem-content-text {
  margin-top: var(--layout-paddingLarge)
}

.upd-problem-text {
  font-size: var(--layout-mediumLargeFontSize);
}

.upd-problem-content-text {
  font-size: var(--layout-bodyFontSize);
  width: var(--layout-updProblemWidth);
  padding-left: var(--layout-updProblemPaddingLeft);
  padding-bottom: var(--layout-updProblemPaddingBottom);
}

/* UpdStatement stuff */

.upd-statement-text {
  font-size: var(--layout-subtitleFontSize);
}

/* UpdPortable stuff */

.upd-portable-text1 {
  font-size: var(--layout-mediumLargerFontSize);
}

.upd-portable-text2 {
  font-size: var(--layout-mediumLargerFontSize);
}

.upd-portable-text3 {
  font-size: var(--layout-mediumLargerFontSize);
}

/* UpdBody stuff */

.upd-body {
  padding-top: var(--layout-paddingMedium);
  padding-right: var(--layout-paddingMedium);
  padding-left: var(--layout-paddingMedium);
  padding-bottom: var(--layout-updBodyPaddingBottom);
  gap: var(--layout-updBodyGap);
}

.upd-body-text-container {
  max-width: var(--layout-updBodyTextContainerWidth);
}

.upd-body-text {
  font-size: var(--layout-bodyFontSize);
}

.upd-body-header {
    font-size: var(--layout-mediumLargeFontSize);
    line-height: 1.3;
}

.upd-button-container {
  padding-top: var(--layout-paddingMedium);
}
.upd-button {
  width: var(--layout-updButtonWidth);
  height: var(--layout-updButtonHeight);
  box-sizing: border-box;
  border-radius: 1000px;
  font-size: var(--layout-buttonFontSize);
  outline: none;
  border: none;  
  transition: background-color 0.3s, transform 0.3s, color 0.3s;
}

.upd-button:hover {
  background-color: #f0f0f0;
  color: #333;
  transform: scale(1.05);
}

.upd-button:active {
  transform: scale(1);
  transition: transform 0.3s;
}

.upd-avatar1 {
  margin-top: var(--layout-updAvatar1-top);
  margin-left: var(--layout-updAvatar1-left);
  width: var(--layout-updAvatar1-w);
  height: var(--layout-updAvatar1-h);
  aspect-ratio: 1;
  z-index: 10000;
  background-position: center;      /* centers the image */
  background-size: cover;           /* fills the box, keeps aspect ratio */
  background-repeat: no-repeat;
  aspect-ratio: 1;
  border-radius: 50%;               /* optional circle */
}

.upd-avatar2 {
  margin-top: var(--layout-updAvatar2-top);
  margin-left: var(--layout-updAvatar2-left);
  width: var(--layout-updAvatar2-w);
  height: var(--layout-updAvatar2-h);
  aspect-ratio: 1;
  z-index: 10000;
  background-position: center;      /* centers the image */
  background-size: cover;           /* fills the box, keeps aspect ratio */
  background-repeat: no-repeat;
  aspect-ratio: 1;
}

.upd-avatar3 {
  margin-top: var(--layout-updAvatar3-top);
  margin-left: var(--layout-updAvatar3-left);
  width: var(--layout-updAvatar3-w);
  height: var(--layout-updAvatar3-h);
  aspect-ratio: 1;
  z-index: 10000;
  background-position: center;      /* centers the image */
  background-size: cover;           /* fills the box, keeps aspect ratio */
  background-repeat: no-repeat;
  aspect-ratio: 1;
  border-radius: 50%;               
}

.upd-avatar4 {
  margin-top: var(--layout-updAvatar4-top);
  margin-left: var(--layout-updAvatar4-left);
  width: var(--layout-updAvatar4-w);
  height: var(--layout-updAvatar4-h);
  aspect-ratio: 1;
  z-index: 10000;
  background-position: center;      /* centers the image */
  background-size: cover;           /* fills the box, keeps aspect ratio */
  background-repeat: no-repeat;
  aspect-ratio: 1;
  border-radius: 50%;               
}

.upd-avatar5 {
  margin-top: var(--layout-updAvatar5-top);
  margin-left: var(--layout-updAvatar5-left);
  width: var(--layout-updAvatar5-w);
  height: var(--layout-updAvatar5-h);
  aspect-ratio: 1;
  z-index: 10000;
  background-position: center;      /* centers the image */
  background-size: cover;           /* fills the box, keeps aspect ratio */
  background-repeat: no-repeat;
  aspect-ratio: 1;
  border-radius: 50%;               
}

.upd-avatar6 {
  margin-top: var(--layout-updAvatar6-top);
  margin-left: var(--layout-updAvatar6-left);
  width: var(--layout-updAvatar6-w);
  height: var(--layout-updAvatar6-h);
  aspect-ratio: 1;
  z-index: 10000;
  background-position: center;      /* centers the image */
  background-size: cover;           /* fills the box, keeps aspect ratio */
  background-repeat: no-repeat;
  aspect-ratio: 1;
  border-radius: 50%;               
}

.upd-avatar7 {
  margin-top: var(--layout-updAvatar7-top);
  margin-left: var(--layout-updAvatar7-left);
  width: var(--layout-updAvatar7-w);
  height: var(--layout-updAvatar7-h);
  aspect-ratio: 1;
  z-index: 10000;
  background-position: center;      /* centers the image */
  background-size: cover;           /* fills the box, keeps aspect ratio */
  background-repeat: no-repeat;
  aspect-ratio: 1;
  border-radius: 50%;               
}

.upd-people-header-text1 {
  font-size: var(--layout-subheaderFontSize)
}
.upd-people-content-text1 {
  padding-left: var(--layout-paddingPeopleText1);
  padding-right: var(--layout-paddingPeopleText1);
  font-size: var(--layout-bodyFontSize);
  padding-bottom: var(--layout-updPeoplePaddingBottom);

}

.upd-team-box-disable-bottom-line {
  width: 0
}

/* body stuff */

.body-text-container {
  margin-top: var(--layout-paddingBody);
  padding: var(--layout-paddingBody);
  margin-bottom: var(--layout-paddingSmall)
}

.body-text-box-title {
  font-size: var(--layout-bodyFontSize);
}

.body-text-box-content {
  font-size: var(--layout-bodyFontSize);
}

/* default text box stuff */

.default-text-box-layout {
  margin-bottom: var(--layout-marginBottomXXs);
  width: var(--layout-textBoxWidth);
  gap: 20px;
}

.default-text-box-title {
  font-size: var(--layout-mediumFontSize);
}

.default-text-box-content {
  font-size: var(--layout-bodyFontSize);
}

/* body text box stuff */

.why-title {
  font-size: var(--layout-mediumFontSize);
  line-height: var(--layout-textBoxLineHeight);
}

.how-title {
  font-size: var(--layout-mediumFontSize);
  line-height: var(--layout-textBoxLineHeight);

}

.what-title {
  font-size: var(--layout-mediumFontSize);
  line-height: var(--layout-textBoxLineHeight);
}

.why-content {
  font-size: var(--layout-bodyFontSize)
}

.how-content {
  font-size: var(--layout-bodyFontSize)
}

.what-content {
  font-size: var(--layout-bodyFontSize)
}

.body-text-box {
  margin-top: var(--layout-marginExtraSmallTop);
  gap: var(--layout-textBoxTitleContentGap);
}

/* about page stuff */

.about {
  padding-bottom: var(--layout-aboutBottomPadding);
}

.about-container {
  width: var(--layout-aboutFullWidth);
  padding: var(--layout-paddingBody);
  flex-direction: var(--layout-aboutFlexDirection);
  gap: var(--layout-aboutGap);
}

.about-title-container {
  flex: var(--layout-aboutContainerFlex);
  justify-content: var(--layout-aboutTitleJustifyContent);
}

.about-content-container {
  flex: var(--layout-aboutContainerFlex);
}

.about-title {
  font-size: var(--layout-aboutTitleFontSize);
  white-space: nowrap;
  text-align: var(--layout-aboutTitleTextAlign);
}

.about-content {
  font-size: var(--layout-bodyFontSize);
}

/* team page stuff */

.team-container {
  padding: var(--layout-paddingBody);
}

.team-title {
  font-size: var(--layout-titleFontSize);
}

.image-wrapper {
  visibility: var(--layout-imageVisibility);
}

.team-text-box {
  margin-bottom: var(--layout-marginBottomXXs);
}

.team-text-margin-container {
  padding-bottom: var(--layout-marginSmallBottom);
}

.team-text-box-content {
  font-size: var(--layout-bodyFontSize);
}

.image-container {
  flex-direction: var(--layout-teamImagesFlexDirection);
}

.images {
  max-width: var(--layout-teamImageWidth);
  height: var(--layout-teamImageHeight);
}

/* footer section stuff */

.footer-container {
  padding: var(--layout-paddingBody);
  flex-direction: var(--layout-footerFlexDirection);
  gap: var(--layout-footerContainerGap);
}

.footer-contact-us {
  transform: translateY(var(--layout-footerContactTranslateY));
  font-size: var(--layout-footerContactUsFontSize);
}

.footer-card-content {
  font-size: var(--layout-footerFontSize);
}

.footer-card-title {
  font-size: var(--layout-footerFontSize);
}

.footer-link-layout {
  margin-left: var(--layout-footerLinkMargin);
  gap: var(--layout-footerLinkGap);
  margin-right: var(--layout-footerLinkMargin);
  flex-direction: var(--layout-footerLinksFlexDirection);
  justify-content: var(--layout-footerLinkLayoutJustifyContent);
  grid-template-columns: var(--layout-footerLinkLayoutGridTemplateCols);
  display: var(--layout-footerLinkLayoutDisplay);
}

.footer-image-container {
  gap: var(--layout-footerSocialGap)
}

.footer-linkedin-icon {
  scale: var(--layout-footerSocialIconScale)
}

.footer-github-icon {
  scale: var(--layout-footerSocialIconScale)
}

/* misc stuff */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


