@font-face {
  font-family: 'Satoshi';
  src: url('/path-to-fonts/Satoshi.woff2') format('woff2'),
       url('/path-to-fonts/Satoshi.woff') format('woff');
}

#root {
  max-width: none;
  margin: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 639px) {
  :root {
    /* animation */
    --animation-titleStartX: 46.875rem;
    --animation-navStartY: -4.375rem;
    --animation-scrollEnd: 1000;
    --animation-overlapEnd: 1500;
    --animation-scrubScale: 10;
    --animation-wordStart: 100;

    --animation-teamEnterXPercent: 12;
    --animation-teamEnterDuration: 1.2;
    --animation-teamStaggerEach: 0.22;
    --animation-teamStaggerAmount: 0.9;

    /* layout */
    --layout-titleFontSize: 5.5rem;
    --layout-mediumFontSize: 3.5rem;
    --layout-subtitleFontSize: 1.5rem;
    --layout-footerFontSize: 0.8125rem;
    --layout-teamFontSize: 0.9375rem;
    --layout-aboutTitleFontSize: 2.5rem;
    --layout-bodyFontSize: 1.2rem;
    --layout-textHeaderFontSize: 1.25rem;

    --layout-paddingSmall: 0.625rem;
    --layout-paddingBody: 3.125rem;

    --layout-fullHeight: 100dvh;
    --layout-doubleFullHeight: 200dvh;
    --layout-aboutHeight: 190dvh;
    --layout-teamHeight: 380dvh;

    --layout-textBoxMargin: 500px;

    --layout-marginSmallLeft: 2dvw;
    --layout-marginSmallTop: 20dvh;
    --layout-marginSmallBottom: 2dvh;

    --layout-marginExtraSmallLeft: 5dvh;
    --layout-marginExtraSmallRight: 5dvh;
    --layout-marginExtraSmallTop: 5dvh;
    --layout-marginExtraSmallBottom: 5dvh;

    --layout-paddingLeft: 0.625rem;
    --layout-paddingRight: 0.625rem;
    --layout-paddingTop: 0.625rem;
    --layout-paddingBottom: 0.625rem;

    --layout-paddingTransitionLeft: 5rem;
    --layout-paddingTransitionRight: 5rem;
    --layout-paddingTransitionTop: 5rem;
    --layout-paddingTransitionBottom: 5rem;

    --layout-aboutFullWidth: 100dvw;
    --layout-aboutGap: 10vw;
    --layout-aboutContentPaddingTop: 2dvh;
    --layout-aboutBottomPadding: 10dvh;
    --layout-aboutContainerFlex: none;
    --layout-aboutTitleTextAlign: left;
    --layout-aboutTitleJustifyContent: left;

    --layout-teamFullWidth: 100%;
    --layout-teamImagesFlexDirection: row;
    --layout-teamImageWidth: 25dvw;
    --layout-teamImageHeight: auto;

    --layout-footerContactTranslateY: 0;
    --layout-footerLinkMargin: 5dvw;
    --layout-footerLinkGap: 5dvw;
    --layout-footerSocialGap: 5dvw;
    --layout-footerSocialIconScale: 1.5;
    --layout-footerFlexDirection: column;
    --layout-footerLinksFlexDirection: column;
    --layout-footerContainerGap: 8dvh;
    --layout-footerContactUsFontSize: 3.5rem;
    --layout-footerLinkLayoutDisplay: grid;
    --layout-footerLinkLayoutGridTemplateCols: repeat(2, minmax(0, 1fr));
    --layout-footerLinkLayoutJustifyContent: none;

    --layout-marginBottomXXs: 2dvh;

    --layout-textBoxWidth: 100%;
    --layout-textBoxGap: 5dvh;
    --layout-textBoxLineHeight: 1;
    --layout-textBoxTitleContentGap: 20px;

    --layout-imageVisibility: visible;

    --layout-aboutTitleWrap: wrap;
    --layout-aboutFlexDirection: column;



  }
}

/* ========== Small ≥640px ========== */
@media (min-width: 640px) {
  :root {
    /* animation */
    --animation-titleStartX: 46.875rem;
    --animation-navStartY: -4.375rem;
    --animation-scrollEnd: 1000;
    --animation-overlapEnd: 1500;
    --animation-scrubScale: 10;
    --animation-wordStart: 100;

    --animation-teamEnterXPercent: 12;
    --animation-teamEnterDuration: 1.2;
    --animation-teamStaggerEach: 0.22;
    --animation-teamStaggerAmount: 0.9;

    /* layout */
    --layout-titleFontSize: 6.5rem;
    --layout-mediumFontSize: 4.5rem;
    --layout-subtitleFontSize: 2rem;
    --layout-footerFontSize: 0.8125rem;
    --layout-teamFontSize: 0.9375rem;
    --layout-aboutTitleFontSize: 4.5rem;
    --layout-bodyFontSize: 1.5rem;
    --layout-textHeaderFontSize: 1.25rem;

    --layout-paddingSmall: 0.625rem;
    --layout-paddingBody: 3.125rem;

    --layout-fullHeight: 100dvh;
    --layout-doubleFullHeight: 200dvh;
    --layout-teamHeight: 380dvh;

    --layout-textBoxMargin: 500px;

    --layout-marginSmallLeft: 2dvw;
    --layout-marginSmallTop: 20dvh;
    --layout-marginSmallBottom: 2dvh;

    --layout-marginExtraSmallLeft: 5dvh;
    --layout-marginExtraSmallRight: 5dvh;
    --layout-marginExtraSmallTop: 5dvh;
    --layout-marginExtraSmallBottom: 5dvh;

    --layout-paddingLeft: 0.625rem;
    --layout-paddingRight: 0.625rem;
    --layout-paddingTop: 0.625rem;
    --layout-paddingBottom: 0.625rem;

    --layout-paddingTransitionLeft: 5rem;
    --layout-paddingTransitionRight: 5rem;
    --layout-paddingTransitionTop: 5rem;
    --layout-paddingTransitionBottom: 5rem;

    --layout-aboutFullWidth: 100dvw;
    --layout-aboutGap: 10vw;
    --layout-aboutContentPaddingTop: 2dvh;
    --layout-aboutBottomPadding: 10dvh;
    --layout-aboutContainerFlex: none;
    --layout-aboutTitleTextAlign: left;
    --layout-aboutTitleJustifyContent: left;

    --layout-teamFullWidth: 100%;
    --layout-teamImagesFlexDirection: row;
    --layout-teamImageWidth: 25dvw;
    --layout-teamImageHeight: auto;

    --layout-footerContactTranslateY: 0;
    --layout-footerLinkMargin: 5dvw;
    --layout-footerLinkGap: 5dvw;
    --layout-footerSocialGap: 5dvw;
    --layout-footerSocialIconScale: 1.5;
    --layout-footerFlexDirection: column;
    --layout-footerLinksFlexDirection: column;
    --layout-footerContainerGap: 10dvh;
    --layout-footerContactUsFontSize: 3.5rem;
    --layout-footerLinkLayoutDisplay: grid;
    --layout-footerLinkLayoutGridTemplateCols: repeat(4, minmax(0, 1fr));
    --layout-footerLinkLayoutJustifyContent: none;

    --layout-marginBottomXXs: 2dvh;

    --layout-textBoxWidth: 100%;
    --layout-textBoxGap: 5dvh;
    --layout-textBoxLineHeight: 1;
    --layout-textBoxTitleContentGap: 20px;

    --layout-imageVisibility: visible;

    --layout-aboutTitleWrap: wrap;
    --layout-aboutFlexDirection: column;



  }
}

/* ========== Medium ≥900px ========== */
@media (min-width: 900px) {
  :root {
    /* animation */
    --animation-titleStartX: 46.875rem;
    --animation-navStartY: -4.375rem;
    --animation-scrollEnd: 1000;
    --animation-overlapEnd: 1500;
    --animation-scrubScale: 10;
    --animation-wordStart: 100;

    --animation-teamEnterXPercent: 12;
    --animation-teamEnterDuration: 1.2;
    --animation-teamStaggerEach: 0.22;
    --animation-teamStaggerAmount: 0.9;

    /* layout */
    --layout-titleFontSize: 9.5rem;
    --layout-mediumFontSize: 5.5rem;
    --layout-subtitleFontSize: 2.65rem;
    --layout-footerFontSize: 1.2rem;
    --layout-teamFontSize: 0.9375rem;
    --layout-aboutTitleFontSize: 4.5rem;
    --layout-bodyFontSize: 1.8rem;
    --layout-textHeaderFontSize: 1.25rem;

    --layout-paddingSmall: 0.625rem;
    --layout-paddingBody: 3.125rem;

    --layout-fullHeight: 100dvh;
    --layout-doubleFullHeight: 200dvh;
    --layout-teamHeight: 380dvh;

    --layout-textBoxMargin: 500px;

    --layout-marginSmallLeft: 2dvw;
    --layout-marginSmallTop: 20dvh;
    --layout-marginSmallBottom: 2dvh;

    --layout-marginExtraSmallLeft: 5dvh;
    --layout-marginExtraSmallRight: 5dvh;
    --layout-marginExtraSmallTop: 5dvh;
    --layout-marginExtraSmallBottom: 5dvh;

    --layout-paddingLeft: 0.625rem;
    --layout-paddingRight: 0.625rem;
    --layout-paddingTop: 0.625rem;
    --layout-paddingBottom: 0.625rem;

    --layout-paddingTransitionLeft: 5rem;
    --layout-paddingTransitionRight: 5rem;
    --layout-paddingTransitionTop: 5rem;
    --layout-paddingTransitionBottom: 5rem;

    --layout-aboutFullWidth: 100dvw;
    --layout-aboutGap: 10vw;
    --layout-aboutContentPaddingTop: 2dvh;
    --layout-aboutBottomPadding: 10dvh;
    --layout-aboutContainerFlex: none;
    --layout-aboutTitleTextAlign: left;
    --layout-aboutTitleJustifyContent: left;

    --layout-teamFullWidth: 100%;
    --layout-teamImagesFlexDirection: row;
    --layout-teamImageWidth: 25dvw;
    --layout-teamImageHeight: auto;

    --layout-footerContactTranslateY: 0;
    --layout-footerLinkMargin: 5dvw;
    --layout-footerLinkGap: 5dvw;
    --layout-footerSocialGap: 10dvw;
    --layout-footerSocialIconScale: 2.5;
    --layout-footerFlexDirection: column;
    --layout-footerLinksFlexDirection: column;
    --layout-footerContainerGap: 6dvh;
    --layout-footerContactUsFontSize: 3.5rem;
    --layout-footerLinkLayoutDisplay: grid;
    --layout-footerLinkLayoutGridTemplateCols: repeat(4, minmax(0, 1fr));
    --layout-footerLinkLayoutJustifyContent: none;

    --layout-marginBottomXXs: 2dvh;

    --layout-textBoxWidth: 100%;
    --layout-textBoxGap: 5dvh;
    --layout-textBoxLineHeight: 1;
    --layout-textBoxTitleContentGap: 20px;

    --layout-imageVisibility: visible;

    --layout-aboutTitleWrap: wrap;
    --layout-aboutFlexDirection: column;

  }
}

/* ========== Large ≥1024px ========== */
@media (min-width: 1024px) {
  :root {
    /* animation */
    --animation-titleStartX: 46.875rem;
    --animation-navStartY: -4.375rem;
    --animation-scrollEnd: 1000;
    --animation-overlapEnd: 1500;
    --animation-scrubScale: 10;
    --animation-wordStart: 100;

    --animation-teamEnterXPercent: 12;
    --animation-teamEnterDuration: 1.2;
    --animation-teamStaggerEach: 0.22;
    --animation-teamStaggerAmount: 0.9;

    /* layout */
    --layout-titleFontSize: 12.5rem;
    --layout-mediumFontSize: 6.25rem;
    --layout-subtitleFontSize: 3.125rem;
    --layout-aboutTitleFontSize: 500%;
    --layout-footerFontSize: 1.2rem;
    --layout-teamFontSize: 0.9375rem;
    --layout-bodyFontSize: 2rem;
    --layout-textHeaderFontSize: 1.25rem;

    --layout-paddingSmall: 0.625rem;
    --layout-paddingBody: 3.125rem;

    --layout-aboutHeight: 130dvh;
    --layout-teamHeight: 500dvh;

    --layout-textBoxMargin: 500px;

    --layout-marginSmallLeft: 2dvw;
    --layout-marginSmallRight: 2dvw;
    --layout-marginSmallTop: 20dvh;
    --layout-marginSmallBottom: 2dvh;

    --layout-marginExtraSmallLeft: 5dvh;
    --layout-marginExtraSmallRight: 5dvh;
    --layout-marginExtraSmallTop: 5dvh;
    --layout-marginExtraSmallBottom: 5dvh;

    --layout-paddingLeft: 0.625rem;
    --layout-paddingRight: 0.625rem;
    --layout-paddingTop: 0.625rem;
    --layout-paddingBottom: 0.625rem;

    --layout-paddingTransitionLeft: 5rem;
    --layout-paddingTransitionRight: 5rem;
    --layout-paddingTransitionTop: 5rem;
    --layout-paddingTransitionBottom: 5rem;

    --layout-teamImageMaxWidth: 25dvw;
    --layout-aboutFullWidth: 100dvw;
    --layout-aboutTitleWidth: 50dvw;
    --layout-aboutGap: 5vw;
    --layout-aboutBottomPadding: 15%;
    --layout-aboutContainerFlex: 1 1 0%;
    --layout-aboutTitleTextAlign: center;
    --layout-aboutTitleJustifyContent: center;

    --layout-aboutContentPaddingTop: 2dvh;

    --layout-teamImageMaxWidth: 25dvw;
    --layout-teamFullWidth: 100dvw;
    --layout-teamImagesFlexDirection: row;
    --layout-teamImageWidth: 25vw;
    --layout-teamImageHeight: auto;

    --layout-footerContactTranslateY: -6dvh;
    --layout-footerLinkMargin: 5dvw;
    --layout-footerLinkGap: 8dvw;
    --layout-footerSocialGap: 4dvw;
    --layout-footerSocialIconScale: 3;
    --layout-footerFlexDirection: row;
    --layout-footerLinksFlexDirection: row;
    --layout-footerContainerGap: 0;
    --layout-footerContactUsFontSize: 3.25rem;
    --layout-footerLinkLayoutDisplay: flex;
    --layout-footerGridTemplateCols: none;
    --layout-footerLinkLayoutJustifyContent: space-between;


    --layout-marginBottomXXs: 2dvh;

    --layout-textBoxWidth: 100%;
    --layout-textBoxGap: 5dvh;
    
    --layout-imageVisibility: visible;

    --layout-aboutTitleWrap: nowrap;
    --layout-aboutFlexDirection: row

  }
}

/* header stuff */

.title-header {
  font-size: var(--layout-headerTitleFontSize);
}

/* subtitle stuff */

.subtitle-header {
  font-size: var(--layout-subtitleFontSize);
}

/* transition stuff */

.transition-text {
  font-size: var(--layout-titleFontSize);
}

/* body stuff */

.body-text-container {
  margin-top: var(--layout-paddingBody);
  padding: var(--layout-paddingBody);
}

.body-text-box-title {
  font-size: var(--layout-bodyFontSize);
}

.body-text-box-content {
  font-size: var(--layout-bodyFontSize);
}

/* default text box stuff */

.default-text-box-layout {
  margin-bottom: var(--layout-marginBottomXXs);
  width: var(--layout-textBoxWidth);
  gap: 20px;
}

.default-text-box-title {
  font-size: var(--layout-mediumFontSize);
}

.default-text-box-content {
  font-size: var(--layout-bodyFontSize);
}

/* body text box stuff */

.why-title {
  font-size: var(--layout-mediumFontSize);
  line-height: var(--layout-textBoxLineHeight);
}

.how-title {
  font-size: var(--layout-mediumFontSize);
  line-height: var(--layout-textBoxLineHeight);

}

.what-title {
  font-size: var(--layout-mediumFontSize);
  line-height: var(--layout-textBoxLineHeight);

}

.why-content {
  font-size: var(--layout-bodyFontSize)
}

.how-content {
  font-size: var(--layout-bodyFontSize)
}

.what-content {
  font-size: var(--layout-bodyFontSize)
}

.body-text-box {
  margin-top: var(--layout-marginExtraSmallTop);
  gap: var(--layout-textBoxTitleContentGap);

}

/* about page stuff */

.about {
  padding-bottom: var(--layout-aboutBottomPadding);
}

.about-container {
  width: var(--layout-aboutFullWidth);
  padding: var(--layout-paddingBody);
  flex-direction: var(--layout-aboutFlexDirection);
  gap: var(--layout-aboutGap);
}

.about-title-container {
  flex: var(--layout-aboutContainerFlex);
  justify-content: var(--layout-aboutTitleJustifyContent);
}

.about-content-container {
  flex: var(--layout-aboutContainerFlex);
}

.about-title {
  font-size: var(--layout-aboutTitleFontSize);
  white-space: nowrap;
  text-align: var(--layout-aboutTitleTextAlign);
}

.about-content {
  font-size: var(--layout-bodyFontSize);
}

/* team page stuff */

.team-container {
  padding: var(--layout-paddingBody);
}

.team-title {
  font-size: var(--layout-mediumFontSize);
}

.image-wrapper {
  visibility: var(--layout-imageVisibility);
}

.team-text-box {
  margin-bottom: var(--layout-marginBottomXXs);
}

.team-text-box-container {
  margin-bottom: var(--layout-marginSmallBottom);
}

.team-text-box-content {
  font-size: var(--layout-bodyFontSize);
}

.image-container {
  flex-direction: var(--layout-teamImagesFlexDirection);
}

.images {
  max-width: var(--layout-teamImageWidth);
  height: var(--layout-teamImageHeight);
}

/* footer section stuff */

.footer-container {
  padding: var(--layout-paddingBody);
  flex-direction: var(--layout-footerFlexDirection);
  gap: var(--layout-footerContainerGap);
}

.footer-contact-us {
  transform: translateY(var(--layout-footerContactTranslateY));
  font-size: var(--layout-footerContactUsFontSize);
}

.footer-card-content {
  font-size: var(--layout-footerFontSize);
}

.footer-card-title {
  font-size: var(--layout-footerFontSize);
}

.footer-link-layout {
  margin-left: var(--layout-footerLinkMargin);
  gap: var(--layout-footerLinkGap);
  margin-right: var(--layout-footerLinkMargin);
  flex-direction: var(--layout-footerLinksFlexDirection);
  justify-content: var(--layout-footerLinkLayoutJustifyContent);
  grid-template-columns: var(--layout-footerLinkLayoutGridTemplateCols);
  display: var(--layout-footerLinkLayoutDisplay);
}

.footer-image-container {
  gap: var(--layout-footerSocialGap)
}

.footer-linkedin-icon {
  scale: var(--layout-footerSocialIconScale)
}

.footer-github-icon {
  scale: var(--layout-footerSocialIconScale)
}

/* misc stuff */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


